# Employee Class with Keywords

Create a class Employee that will take a full name as argument, as well as a set of none, one or more keywords. Each instance should have a name and a lastname attributes plus one more attribute for each of the keywords, if any.  

Examples  
john = Employee("John Doe")  
mary = Employee("Mary Major", salary=120000)  
richard = Employee("Richard Roe", salary=110000, height=178)  
giancarlo = Employee("Giancarlo Rossi", salary=115000, height=182, nationality="Italian")  

john.name ➞ "John"  
mary.lastname ➞ "Major"  
richard.height ➞ 178  
giancarlo.nationality ➞ "Italian"  
Notes  
First and last names will be separated by a whitespace. The test will not include any middle names or initials.  
The value of the keywords can be an int, a str or a list.

# Solution

In [64]:
class Employee:
    def __init__(self,name,**kwargs):
        self.name = name.split()[0]
        self.lastname = name.split()[-1]
        for attr in kwargs.keys():
            self.__dict__[attr] = kwargs[attr]

In [65]:
john = Employee("John Doe")
mary = Employee("Mary Major", salary=120000)
richard = Employee("Richard Roe", salary=110000, height=178)
giancarlo = Employee("Giancarlo Rossi", salary=115000, height=182, nationality="Italian")

In [66]:
john.name

'John'

In [67]:
mary.lastname

'Major'

In [68]:
richard.height

178

In [69]:
giancarlo.nationality

'Italian'

In [70]:
giancarlo.salary

115000

# Alternative

With Arguments

In [59]:
class Employee:
    def __init__(self, namelastname, height=0, salary=0, nationality=''):
        self.name = namelastname.split()[0]
        self.lastname = namelastname.split()[1]
        self.height = height
        self.salary = salary
        self.nationality = nationality

In [60]:
john = Employee("John Doe",56,245)

In [61]:
john.name

'John'

In [62]:
john.lastname

'Doe'

In [63]:
john.height

56

In [48]:
john.salary

245