# Splitting Up Numbers

Create a function that takes a number num and returns each place value in the number.  

Examples  
num_split(39) ➞ [30, 9]  

num_split(-434) ➞ [-400, -30, -4]  

num_split(100) ➞ [100, 0, 0]

In [85]:
def num_split(num):
    values=[]
    for i in range(1,len(str(abs(num)))+1):
        if num>0:
            values.append(int(str(num)[-i])*(10**(i-1)))
        else:
            values.append(-int(str(num)[-i])*(10**(i-1)))
    return values[::-1]

In [86]:
num_split(39)

[30, 9]

In [87]:
num_split(100)

[100, 0, 0]

In [88]:
num_split(-434)

[-400, -30, -4]

In [4]:
400//100

4

In [32]:
n=432

In [9]:
len(str(n))

2

In [33]:
for i in range(1,len(str(n))):
    print((n//(10**i))*10**i, n%(10**i))

430 2
400 32

In [26]:
round(39,-1)

40

In [34]:
432//100

4

In [47]:
n

432

In [36]:
str(n)

'432'

In [38]:
int(str(n)[-1])

2

In [40]:
int(str(n)[-2])*10

30

In [41]:
int(str(n)[-3])*100

400

In [69]:
n=-123

In [57]:
value=[]
for i in range(1,len(str(n))+1):
    print(int(str(n)[-i])*(10**(i-1)))

0
0
300
2000
10000

In [70]:
value=[]
for i in range(1,len(str(n))+1):
    value.append(int(str(n)[-i])*(10**(i-1)))
value[::-1]

ValueError: invalid literal for int() with base 10: '-'

In [59]:
value=[]
if n>0:
    for i in range(1,len(str(n))+1):
        value.append(int(str(n)[-i])*(10**(i-1)))
else:
    
value[::-1]

[10000, 2000, 300, 0, 0]

In [83]:
n=543

In [89]:
value=[]
for i in range(1,len(str(abs(n)))+1):
    if n>0:
        value.append(int(str(n)[-i])*(10**(i-1)))
    else:
        value.append(-int(str(n)[-i])*(10**(i-1)))
value[::-1]

[500, 40, 3]

In [93]:
str(-456)

'-456'